<HTML>
<title>Flask Inventory Management System</title>
<Body bgcolor="mediumslateblue">
	<table border=1>
    <thead>
    <tr>
        <th>{{my_string}}</th>
    </tr>
    </thead>
    <tbody>
        {% for row in value %} 
            <tr>
                <td>{{row[0]}}</td>
            </tr>
        {% endfor %} 
    </tbody>
    <form action="http://127.0.0.1:5000/home">
        <input type="submit" value="Go to Home" /> 
    </form>
    <form action="http://127.0.0.1:5000/products">
    <input type="submit" value="Go to Products" />
    </form>
    <form action="http://127.0.0.1:5000/locations">
    <input type="submit" value="Go to Locations" />
    </form>
    <script type="text/javascript" src="javascript-file.js"></script>
    </table>
</Body>
</HTML>
