<HTML>
<title>Flask Inventory Management System</title>
<Body bgcolor="mediumslateblue">
	<table>
    <thead>
    <tr>
        <!-- <title>{% block title %}{% endblock %} - Flaskr</title> -->
        <th>{{my_string}}</th>
    </tr>
    </thead>
    <tbody>
        {% for row in value %} 
            <tr>
                <td>{{row[0]}}</td>
            </tr>
        {% endfor %} 
    </tbody>
    <button id="Home" class="float-left submit-button" >Home</button>
    <button id="myProducts" class="float-left submit-button" >Products</button>
    <button id="myLocations" class="float-left submit-button" >Locations</button>
    <script type="text/javascript" src="javascript-file.js"></script>
    </table>
</Body>
</HTML>
